apiVersion: apps/v1
kind: Deployment
metadata:
  name: production-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: production-app
  template:
    metadata:
      labels:
        app: production-app
    spec:
      containers:
      - name: production-container
        image: us-east4-docker.pkg.dev/qwiklabs-gcp-02-ce66d27fa7e1/my-repository/sample-app:v2.0
        ports:
        - containerPort: 8080
